* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3, h4, p {
    margin: 10px 0;
}

div.container {
    max-width: 1180px;
    min-width: 710px;
    margin: 15px auto;
}

div.cabecalho {
    min-width: 710px;
    min-height: 250px;
    position: relative;
}

div.logo {
    background: #dbcd87 url(../imgs/topo-imagem-principal2.png) no-repeat;
    height: 250px;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}

div.logo > img {
    margin: 10px;
}

div.menu {
    background: url(../imgs/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    position: absolute;
    right: 0;
    top: 0;
}

div.conteudo-menu {
    margin: 15px 12px 0 100px;
}

div.topo-menu{
    border-top: 1px solid #b5ab56;
    border-bottom: 1px solid #b5ab56;
    padding: 5px;
    height: 20px;
}

div.topo-menu span {
    font-size: 12px;
    color: #8b8448;
    float: left;
    padding: 3px;
}

a, ul{
    text-decoration: none;
    list-style-type: none;
}

div.topo-menu a {
    color: #fff5b0;
    background-color: #a29750;
    text-decoration: none;
    padding: 3px;
    font-size: 13px;
    float: right;
}

div.navegacao-menu {
    position: relative;
}

div.navegacao-menu ul {
    position: absolute;
}

div.navegacao-menu ul li {
    margin: 5px 5px;
}

div.navegacao-menu ul li a {
    display: block;
    color: #6e672c;
    padding: 5px 0;
    text-indent: 5px;
}

li a:hover {
    background-color: #fdf6be;
}

div.navegacao-menu div.img {
    position: absolute;
    right: 0;
    top: 40px;
}

div.area-conteudo {
    background-color: #ede9cc;
    margin-top: 10px;
    background-image: url(../imgs/bg-container.png);
    background-position: center;
    background-repeat: repeat-y;
    position: relative;
    min-height: 470px;
}

div.conteudo-escrito {
    padding: 5px 10px;
    float: left;
    width: 48.3%;
}

div.conteudo-escrito h2 {
    color: #9b8f21;
}

div.conteudo-imagem {
    padding: 15px;
    float: left;
    width: 47%;
}

div.conteudo-imagem div {
    height: 100px;
}

div.conteudo-imagem div a:hover{
    background-color: white;
    height: 100px;
}

div.conteudo-imagem div img { 
    float: left;
    margin-right: 15px;
}

div.conteudo-imagem div h3 {
    color: #9b8f21;
}

div.conteudo-imagem div p {
    color: black;
}

div.rodape {
    margin-top: 20px;
    float: both;
    color: #9b8f21;
}